.banner {
  cursor: default;
  padding: 0px var(--basic-padding);
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--dark-blue) 0%,
    var(--dark-blue) 80%,
    #ffffff 80%,
    #ffffff 100%
  );

  .bannerItem {
    position: relative;
    font-family: var(--font-family-banner);

    img {
      width: 100%;
      max-height: 600px;
      aspect-ratio: 5 / 2;
      object-fit: cover;
      filter: brightness(0.4);
      object-position: center 15%;
    }

    .bannerContent {
      width: 40%;
      position: absolute;
      z-index: 1;
      left: 30%;
      top: 40%;
      transform: translate(-50%, -50%);
      text-align: left;
      color: #fff;

      h3 {
        font-size: calc(var(--basic-font-size) * 3);
        margin: 0;
        font-weight: 900;
        white-space: nowrap;
      }

      p {
        font-weight: lighter;
        font-size: calc(var(--basic-font-size) * 1.2);
        white-space: nowrap;
      }
    }
  }
}
