.text {
  line-height: calc(1 * var(--basic-font-size));
  font-size: calc(0.8 * var(--basic-font-size));
  padding: 0 calc(0.2 * var(--basic-padding));
  margin: calc(0.1 * var(--basic-padding)) 0;
  display: inline-block;
  box-sizing: border-box;
}
