.title {
  background-color: var(--main-theme-color); // 字体颜色
  color: white;
  font-weight: 900;
  line-height: calc(2 * var(--basic-font-size));
  font-size: calc(1 * var(--basic-font-size));
  padding: 0 calc(0.2 * var(--basic-size));
  margin: calc(0.2 * var(--basic-size)) 0;
  display: inline-block;
  box-sizing: border-box;
}
