.guideWrapper {
  // background-color: var(--default-font-color);
  padding: calc(0.5 * var(--size)) calc(var(--size) * 2);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.guideCard {
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  border: 1px solid var(--default-font-color);
}