@logo-height-desktop: calc(var(--font-size) * 2);
@logo-height-mobile: calc(var(--font-size) * 3);

.navBar {
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  padding: calc(var(--size) / 5) calc(var(--size) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: background-color 0.3s, backdrop-filter 0.3s;
  /* 媒体查询 768px */
  @media (max-width: 768px) {
    flex-direction: column;
    padding: calc(var(--size) / 2) var(--size);
  }

  .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: calc(var(--font-size) / 2);

    img {
      height: @logo-height-desktop;
      width: auto;

      /* 媒体查询 768px */
      @media (max-width: 768px) {
        height: @logo-height-mobile;
      }
    }
  }
}

.navBarFixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
}
