.navBar {
    padding: calc(var(--basic-padding) / 2) var(--basic-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: calc(var(--basic-font-size) * 3);
            width: auto;
        }

        label {
            font-size: calc(var(--basic-font-size) * 2);
            font-weight: bold;
            color: var(--text-grey);
        }
    }

    .navButtons {
        display: flex;
        gap: 10px;

        .navButton {
            background: transparent;
            border: none;
            font-size: var(--basic-font-size);
            cursor: pointer;
            border-radius: 32px;
            padding: 8px 16px;
            color: var(--text-grey);
            font-family: var(--font-family-nav);
            font-weight: lighter;

            &:hover {
                color: var(--light-blue);
                background: white;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
        }
    }
}