.content {
    background: white;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: var(--font-family-basic);
    font-weight: lighter;

    .left {
        background: var(--dark-blue);
        color: white;
        min-width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 20px;

        h3 {
            font-size: 36px;
            margin: 0;
            font-weight: 900;
            color: var(--light-blue);
            text-align: left;
        }

        .divider {
            margin: 5px 0 5px 0;
            background: white;
        }

        span {
            font-size: 16px;
            margin-top: 20px;
        }
    }

    .right {
        flex: 1;
        display: flex;

        .contentItem {
            display: flex;
            width: 25%;
            position: relative;

            img {
                width: 100%;
                aspect-ratio: 1 / 2;

                // 3. 核心：不拉伸缩放，保持原图比例并自动裁剪
                object-fit: cover;

                // 4. 核心：裁剪时定死左侧，从左边开始保留，切掉右边多余的部分
                object-position: left center;

                filter: brightness(0.4);
            }

            .contentInfo {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                z-index: 1;
            }

            h3 {
                text-align: left;
                font-size: 18px;
                margin: 0;
                font-weight: 900;
                color: white;
                font-family: var(--font-family-banner);
                writing-mode: vertical-rl;
            }

            &:hover {
                cursor: pointer;
                img {
                    filter: brightness(0.6);
                }
            }
        }
    }
}