.footer {
    padding: 30px;
    .divider {
        background-color: white;
        height: 1px;
        margin: 10px 0;
    }

    .information {
        // height: 100px;
        // background: purple;
        display: flex;
        flex-direction: column;
        justify-content: left;
        color: white;
        font-size: 12px;
        align-items: left;

        div {
            text-align: left;
        }
    }
}