.footer{
    height: 100px;
    // background: purple;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
    font-size: 12px;
    align-items: left;
    div{
        text-align: left;
    }
}