.footer {
    padding: var(--basic-padding) var(--basic-padding);
    .divider {
        background-color: white;
        height: 1px;
        margin: 10px 0;
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: left;
        color: white;
        font-size: var(--basic-font-size);
        align-items: left;

        div {
            text-align: left;
        }
    }
}