:root {
  --light-blue: #3b82f6;
  --dark-blue: #080a23;
  --text-grey: rgba(245, 245, 245, 0.72);
  --font-family-nav:
    -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-family-banner:
    -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-family-basic:
    -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --basic-padding: 100px;
  --basic-font-size: 24px;

  @media (max-width: 1440px) {
    --basic-padding: 60px;
    --basic-font-size: 18px;
  }

  @media (max-width: 1024px) {
    --basic-padding: 30px;
    --basic-font-size: 16px;
  }

  @media (max-width: 768px) {
    --basic-padding: 15px;
    --basic-font-size: 14px;
  }

  @media (max-width: 480px) {
    --basic-padding: 10px;
    --basic-font-size: 10px;
  }

  #root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}

html,
body {
  margin: 0;
}
