/* index.css
1. 颜色样式变量
2. 字体样式变量
3. 屏幕自适应的字体大小和宽度变量
4. 全局配置
*/

@font-face {
  font-family: "CustomFont";
  /* 确保这里末尾直接是分号 ; 结束 */
  src: url("./assets/fonts/CustomFont-Regular.woff2") format("woff2");
}

:root {
  /* 1. 颜色样式变量 */
  --default-border-color: #dfdfdf; /* 默认边框灰色 */
  --default-background-color: #fcfcfc; /* 默认背景灰色 */
  --main-theme-color: #3fcf8e; /* 绿色主题色 */
  /* 文本颜色 */
  --default-font-color: #171717; /* 默认文本黑色 */
  --font-color-lighter: #707070; /* 浅文本灰色 */
  --font-color-selected-dark: #249361;
  --font-color-hover-light: #52dc9d;
  --font-disabled-color: #a3a3a3;
  /* 按钮颜色 */
  --button-hover-background-color: #e8e8e8; /* 鼠标移入加深背景灰色 */
  --button-hover-border-color: #cccccc;
  --button-text-color: #3fcf8e;
  --button-background-color: #72e3ad;
  --button-border-color: #16b674;
  --border-color: #dfdfdf;
  /* 2. 字体样式变量 */
  --default-font-family:
    "CustomFont", "Circular", "custom-font", "Helvetica Neue", Helvetica, Arial,
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  /* 3. 默认尺寸变量和自适应 */
  --basic-size: 120px;
  --basic-font-size: 24px;

  @media (max-width: 1919px) and (min-width: 1441px) {
    --basic-size: 90px;
    --basic-font-size: 22px;
  }

  @media (max-width: 1440px) and (min-width: 1201px) {
    --basic-size: 70px;
    --basic-font-size: 19px;
  }

  @media (max-width: 1200px) and (min-width: 1025px) {
    --basic-size: 50px;
    --basic-font-size: 17px;
  }

  @media (max-width: 1024px) and (min-width: 769px) {
    --basic-size: 35px;
    --basic-font-size: 16px;
  }

  @media (max-width: 768px) and (min-width: 481px) {
    --basic-size: 24px;
    --basic-font-size: 14px;
  }

  @media (max-width: 480px) and (min-width: 376px) {
    --basic-size: 16px;
    --basic-font-size: 12px;
  }

  @media (max-width: 375px) {
    --basic-size: 12px;
    --basic-font-size: 11px; /* 避免设为 10px，部分浏览器在 12px 以下会有强制渲染硬伤 */
  }
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
